.Modal{
  background-color: grey;
  border: 1px solid;
  margin: auto;
  padding: 15px;
  position: fixed;
  left: 25%;
  transition: all 0.3s ease-out;
  width: 50%;
  z-index: 500;
}

.enterbtn{
  /* height: 25%; */
  margin-top: 5%;
}


.voteform{
  text-align: center;
}
